.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8A2BE2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

.supply {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3% 0.5% 2% 0.5%;
}

.chart {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*height: 65vh;*/
  /*box-sizing: border-box;*/
  /*border: 1px solid white;*/
}

.subsidy {
  font-size: 14px;
  line-height: 2;
  padding: 0 0 0 25px;
  flex-basis: calc(50% - 1px);
  flex-grow: 0;
  box-sizing: border-box;
  /*border: 1px solid white;*/
}

@media (max-width: 815px) {
  .chart, .subsidy {
    flex-basis: 100%;
    padding: 20px;
  }
}

/*.chart-body {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 100vh; !* 或者是页面高度的任何值，以让图表居中 *!*/
/*}*/

.c-subsidy {
  border: 1px solid #00c4b4;
  border-radius: 10px;
  background-color: #00c4b4;
  margin-bottom: 20px;
}
.circulation {
  text-align: justify;
}

.totalCirculation {
  color: rgb(67, 226, 43);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
